:root {
  --primaryColor: #076534;
  --white: #ffffff;
  --primaryColorBg: #e8f2ec;
  --primaryColorDark: rgb(6, 93, 54);
  --primaryColorLight: #88f2bd;
  --logo: rgb(0, 194, 139);
}

.app {
  text-align: center;
}

.imgSize {
  height: 2rem;
  width: 2rem;
}

.pointerCursor {
  cursor: pointer;
}

.navBar {
  position: sticky;
  top: 0;
  background-color: var(--white);
  border-bottom: 1px solid var(--primaryColorLight);
}

.navBarDisplay {
  display: flex;
  flex-direction: row;
  padding: 16px;
  justify-content: space-around;
  align-items: center;
  position: sticky;
}

.greenIcon {
  background-color: var(--logo);
  color: white;
  font-size: 14px;
  padding: 1rem;
  font-weight: 400 !important;
  width: max-content;
  height: max-content;
}

.para {
  font-weight: 400 !important;
}

.bookBtn {
  padding: 10px 24px;
  background-color: var(--logo);
  color: var(--white);
  font-size: 16px;
  border-radius: 6px;
  font-weight: 600;
  /* cursor: pointer; */
}

.whiteBtn {
  padding: 10px 24px;
  background-color: white;
  color: black;
  font-size: 16px;
  border-radius: 6px;
  font-weight: 600;
  /* cursor: pointer; */
}

.fontFamily {
  font-family: 'Open Sans', sans-serif;
}

.font55px {
  font-size: 55px;
  font-weight: 600;
}

.font36px {
  font-size: 36px;
  font-weight: 600;
}

.font18px {
  font-size: 18px;
  font-weight: 500;
}

.container {
  padding-top: 40px;
  padding-bottom: 30px;
}

.intro {
  margin-left: auto;
  margin-right: auto;
  padding: 9%;
}

.greyBg {
  background-color: var(--primaryColorBg);
  padding: 88px;
  margin: 48px 0px;
}

.txtGradient {
  background: -webkit-linear-gradient(var(--logo), var(--primaryColorDark));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 550;
}

@media screen and (min-width: 480px) {
  h5 {
    font-size: 14px;
  }
}

.lineHeight {
  line-height: 54px;
}

.boxApp {
  border-radius: 8px;
  box-shadow: 0 2px 16px 0 rgba(0, 0, 0, 0.11);
  padding: 24px;
  border: 1px solid var(--primaryColorBg);
  width: 30%;
  margin-right: 2rem;
}

.bold {
  font-family: sans-serif;
  font-weight: 600;
}

.article {
  width: 90%;
  height: 500px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: grid;
  place-items: center;
  border-radius: 8px;
  box-shadow: 1px 1px 3px 0 #000;
  margin: 4rem auto;
  padding: 5%;
}

.whiteFont {
  color: white;
}

.footer {
  float: left;
  align-items: flex-start;
  display: flex;
  flex-direction: column;
}